body{
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
background-color:#92d36e;
background-image:url(Texture.png);
background-repeat:repeat;
}
#default{
background-color:#FFFFFF;
position:relative;
margin-left:-500px;
width:1000px;
top:10%;
height:80%;
left:50%;
border-style:solid;
border-width:thin;
border-color:black;
}
#buttonSave{
background-color:#FFFFFF;
position:relative;
text-align:center;
cursor:hand;
left:80%;
top:60%;
height:20px;
width:50px;
border-style:solid;
border-wigth:thin;
border-color:black;
}
#buttonSend{
background-color:#FFFFFF;
position:relative;
text-align:center;
cursor:hand;
margin-left:-55px;
left:80%;
top:80%;
height:100px;
width:100px;
border-style:solid;
border-wigth:thin;
border-color:black;
}
#textArea{
background-color:#FFFFFF;
position:relative;
margin-left:-55px;
left:10%;
top:80%;
height:100px;
width:60%;
border-style:solid;
border-wigth:thin;
border-color:black;
}